.btn-main {
    transition: background 0.3s ease;
}

.btn-main:hover {
    background: #0ea5e9 !important; /* Трохи темніший синій при наведенні */
    color: #fff !important;
}

.topic-card {
    transition: transform 0.2s;
}

.topic-card:hover {
    transform: translateY(-5px);
    border-color: #38bdf8 !important;
}
